* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carres {
    display: flex;
    gap: 5px;
}

.carre {
    height: 200px;
    width: 200px;
}

.magicbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    color: white;
}