* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carres {
    display: flex;
}

.carre {
    height: 200px;
    width: 200px;
}

.magicbox {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}